.show{
    display: none;
}

.section_card_grid{
    padding: 40px 0;
    margin-top: 40px;
    background-color: #F5F5FA;
    text-align: center;
    h1{
        color: #F0145A;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
    }
}

.home_container_secGrid{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1440px;
}

@media(min-width:768px){
    
    .section_card_grid{
        padding: 40px 0;
        margin-top: 40px;
        background-color: #F5F5FA;
        text-align: center;
        h1{
            color: #F0145A;
            font-size: 42px;
            line-height: 50px;
            text-transform: uppercase;
        }
    }
    
    .home_container_secGrid{
        padding: 0 20px;
        margin: 0 auto;
        max-width: 1440px;
    }

}
