.flex_container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(
        circle farthest-corner at 10% 20%,
        rgba(102, 116, 236, 1) 0%,
        rgba(50, 231, 219, 1) 90%
    );
    padding-top: 30px;
    height: 100%;
}