.container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    min-height:650px;
    // background-color: #9BAFD9;
    // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
    // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(102,116,236,1) 0%, rgba(50,231,219,1) 90% );
    // background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
    // background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
}

.form_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: white;
    // height: 750px;
    // width: 700px;
    border-radius: 10px;
    margin: 20px auto;
}

h1{
    margin: 0;
    color: #6e6c6c;
}

.button_register_page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    cursor: pointer;
    height: 25px;
    text-align: center;
    border: none;
    transition: 0.7s;
    background-size: 200% auto;
    border-radius: 10px;

    border-radius: 10px;
    background-image: linear-gradient(to right, #673ab7 0%, #512da8 51%, #673ab7 100%);

    &:hover {
        color: #673ab7;
        background-color: white;
        background-image: none;
        border: 1px solid #512da8;
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
}

@media(min-width:768px){
    .container{
        margin: 0 auto;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        // background-color: #9BAFD9;
        // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
        // background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(102,116,236,1) 0%, rgba(50,231,219,1) 90% );
        background-image: linear-gradient( 111.4deg,  rgba(7,7,9,1) 6.5%, rgba(27,24,113,1) 93.2% );
        // background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% );
    }
    
    .form_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
        background-color: white;
        height: 750px;
        width: 700px;
        border-radius: 10px;
        margin: 40px auto;
    }
    
    h1{
        margin: 0;
        color: #6e6c6c;
    }
    
    .button_register_page {
        margin: 10%;
        text-align: center;
        text-transform: uppercase;
        width: 200px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin: 20px;
        height: 55px;
        text-align: center;
        border: none;
        background-size: 300% 100%;
    
        border-radius: 50px;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
        background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
        box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
        &:hover {
            background-position: 100% 0;
            -o-transition: all 0.4s ease-in-out;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
        }
        &:focus {
            outline: none;
        }
    }
}