.conrainer_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px;
    gap: 30px;
    img {
        width: 100%;
        border-radius: 10px;
    }
}

.ul_container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
    list-style: disc;
}

.border {
    display: none;
}

@media (min-width: 768px) {
    .conrainer_card {
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-radius: 10px;
        margin: 60px;
        padding: 20px;
        img {
            width: 800px;
            height: 600px;
            border-radius: 10px;
        }
    }

    .ul_container {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        font-size: 30px;
        line-height: 80px;
        font-weight: bold;
        list-style: disc;
    }

    .border {
        width: 5px;
        background-color: #673ab7ad;
        height: 460px;
        border-radius: 10px;
    }
}
