@media  (min-width:768px){
    .conrainer_card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 1px solid #673AB7;
        border-radius: 10px;
        margin: 100px;
        padding: 20px;
        img{
            width: 800px;
            height: 600px;
            border-radius: 10px;
        }
    }
    
    .ul_container{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        font-size: 30px;
        line-height: 80px;
        font-weight: bold;
        list-style: disc;
    }
    
    .border{
        width: 5px;
        background-color: #673ab7ad;
        height: 460px;
        border-radius: 10px;
    }
}

