.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
    input {
        display: flex;
        padding: 10px;
        border: 1px solid #6e6c6c;
        border-radius: 10px;
        width: 320px;
        cursor: pointer;
        &::placeholder {
            font-size: 14px;
        }
        &:focus {
            border: 1px solid #4481eb;
            &::placeholder {
                color: #4481eb;
            }
        }
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        height: 25px;
        text-align: center;
        border: none;
        transition: 0.7s;
        background-size: 200% auto;
        border-radius: 10px;
    
        border-radius: 10px;
        background-image: linear-gradient(to right, #673ab7 0%, #512da8 51%, #673ab7 100%);
    
        &:hover {
            color: #673ab7;
            background-color: white;
            background-image: none;
            border: 1px solid #512da8;
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
    }
}

@media(min-width:768px){
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        label {
            color: #6e6c6c;
            letter-spacing: 2px;
            font-size: 20px;
        }
        input {
            display: flex;
            padding: 10px;
            border: 1px solid #6e6c6c;
            border-radius: 10px;
            width: 350px;
            cursor: pointer;
            &::placeholder {
                font-size: 18px;
            }
            &:focus {
                border: 1px solid #4481eb;
                &::placeholder {
                    color: #4481eb;
                }
            }
        }
        button {
            margin: 10%;
            text-align: center;
            text-transform: uppercase;
            width: 200px;
            font-size: 18px;
            font-weight: 600;
            color: #fff;
            cursor: pointer;
            margin: 20px;
            height: 55px;
            text-align: center;
            border: none;
            background-size: 300% 100%;
    
            border-radius: 10px;
            background-image: linear-gradient(to right, #673ab7 0%, #512da8 51%, #673ab7 100%);
        
            &:hover {
                color: #673ab7;
                background-color: white;
                background-image: none;
                border: 1px solid #512da8;
                text-decoration: none;
            }
        }
    }
    
}
