.openHamburger {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  top: -200px;
  gap: 10px;
  animation: hamburger 1.5s ease 0.8ms;
  animation-fill-mode: forwards;
  width: 100%;
  z-index: 4;
  padding-bottom: 10px;
  padding-top: 10px;
}

@keyframes hamburger {
  from {
    top: -200px;
  }
  to {
    top: 0;
    color: rgb(232, 241, 241);
    background-color: rgb(9, 1, 38);
    box-shadow: -1px 4px 5px 0px rgba(0, 0, 0, 0.51);
  }
}
.closeHamburger {
  display: none;
  position: absolute;
  top: -175px;
}
.closeHamburger li:hover .routerLink {
  color: #512da8;
}
.closeHamburger li:hover .icons_header {
  color: #512da8;
}

.logo_show_black {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  padding: 10px;
}
.logo_show_black .logo_nav_bar {
  color: black;
}

.logo_show {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  padding: 10px;
  z-index: 5;
}
.logo_show .logo_nav_bar {
  color: white;
}

.logo_hide {
  display: none;
}

.button_navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  height: 25px;
  text-align: center;
  border: none;
  transition: 0.7s;
  background-size: 200% auto;
  border-radius: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #673ab7 0%, #512da8 51%, #673ab7 100%);
}
.button_navbar:hover {
  color: #673ab7;
  background-color: white;
  background-image: none;
  border: 1px solid #512da8;
  text-decoration: none;
}
.button_navbar:focus {
  outline: none;
}

.routerLink {
  text-decoration: none;
  color: white;
}

.routerLink_logo {
  display: none;
}

.hamburger {
  display: flex;
  padding: 10px;
  margin: 10px;
  z-index: 5;
}

@media (min-width: 768px) {
  .logo_hide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 30px;
  }
  .logo_nav_bar {
    color: black;
    height: 50px;
  }
  .routerLink {
    text-decoration: none;
    color: black;
  }
  .routerLink_logo {
    display: inline-block;
  }
  .button_navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    height: 25px;
    text-align: center;
    border: none;
    transition: 0.7s;
    background-size: 200% auto;
    border-radius: 10px;
    background-image: linear-gradient(to right, #673ab7 0%, #512da8 51%, #673ab7 100%);
    box-shadow: 0 0 20px #eee;
  }
  .button_navbar:hover {
    color: #673ab7;
    background-color: white;
    background-image: none;
    border: 1px solid #512da8;
    text-decoration: none;
  }
  .button_navbar:focus {
    outline: none;
  }
  .hamburger {
    display: none;
  }
  .closeHamburger {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    position: relative;
    top: 0;
  }
  .icons_header {
    color: black;
    margin-right: 5px;
  }
}
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
  .closeHamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 0;
    gap: 25px;
  }
  .closeHamburger li {
    font-size: 20px;
  }
}/*# sourceMappingURL=Navbar.module.css.map */