.flex_container_buttons_sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 35px;
    border-radius: 10px;
    h2{
        font-size: 16px;
        text-transform: uppercase;
    }
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        text-align: center;
        text-transform: uppercase;
        font-size: 10px;
        color: #fff;
        cursor: pointer;
        height: 25px;
        text-align: center;
        border: none;
        transition: 0.7s;
        background-size: 200% auto;
        border-radius: 10px;
    
        border-radius: 10px;
        background-image: linear-gradient(to right, #673ab7 0%, #512da8 51%, #673ab7 100%);
    
        &:hover {
            color: #673ab7;
            background-color: white;
            background-image: none;
            border: 1px solid #512da8;
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
    }
}

.flex_container_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    border-bottom: 3px solid #673ab7ad;
    border-top: 3px solid #673ab7ad;
    padding: 10px;
    margin: 20px auto;
    li{
        font-size: 14px;
    }
}

.buttons_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

@media(min-width:768px){
    .flex_container_buttons_sidebar{
        border-radius: none;
        h2{
            font-size: 20px;
        }
        button{
            padding: 20px 45px;
            font-size: 14px;
        }
    }

    .flex_container_ul{
        padding: 20px;
        gap: 10px;
        li{
            font-size: 18px;
        }
    }

    .buttons_container{
        flex-direction: column;
        gap: 20px;
    }
}