.flex_container_answers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #673ab7ad;
    margin-bottom: 20px;
    h2{
        font-size: 18px;
        text-transform: uppercase;
    }
}

.flex_container_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 15px;
    border-top: 3px solid #afaab8d3;
    padding: 10px;
    min-width: 164px;
    li{
        font-size: 14px;
    }
}

@media(min-width:768px){
    .flex_container_answers{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
        padding: 50px;
        margin: 15px;
        border-radius: 15px;
        -webkit-box-shadow: -2px 13px 88px -14px rgba(84,79,84,0.83);
        -moz-box-shadow: -2px 13px 88px -14px rgba(84,79,84,0.83);
        box-shadow: -2px 13px 88px -14px rgba(84,79,84,0.83);
        h2{
            font-size: 24px;
            text-transform: uppercase;
        }
    }
    
    .flex_container_ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 15px;
        border: 3px solid rgb(63, 63, 65);
        border-radius: 10px;
        padding: 10px;
        width: 350px;
        li{
            font-size: 18px;
        }
    }
}