.flex_container_questions{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #673ab7ad;
    margin-bottom: 20px;
    h2{
        font-size: 18px;
        text-transform: uppercase;
    }
}

.flex_container_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 15px;
    border-top: 3px solid #afaab8d3;
    padding: 10px;
    li{
        font-size: 14px;
    }
    button {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 25px;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
        height: 25px;
        text-align: center;
        border: none;
        transition: 0.7s;
        background-size: 200% auto;
        border-radius: 10px;
    
        border-radius: 10px;
        background-image: linear-gradient(to right, #673ab7 0%, #512da8 51%, #673ab7 100%);
    
        &:hover {
            color: #673ab7;
            background-color: white;
            background-image: none;
            border: 1px solid #512da8;
            text-decoration: none;
        }
        &:focus {
            outline: none;
        }
    }
}

@media(min-width:768px){
    .flex_container_questions{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        padding: 30px;
        margin: 15px;
        border-radius: 10px;
        h2{
            font-size: 20px;
            text-transform: uppercase;
        }
    }
    
    .flex_container_ul{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        margin-bottom: 15px;
        border-top: 3px solid #afaab8d3;
        padding: 10px;
        li{
            font-size: 18px;
        }
        button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 65px;
            text-align: center;
            text-transform: uppercase;
            font-size: 14px;
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            height: 25px;
            text-align: center;
            border: none;
            transition: 0.7s;
            background-size: 200% auto;
            border-radius: 10px;
        
            border-radius: 10px;
            background-image: linear-gradient(to right, #673ab7 0%, #512da8 51%, #673ab7 100%);
        
            &:hover {
                color: #673ab7;
                background-color: white;
                background-image: none;
                border: 1px solid #512da8;
                text-decoration: none;
            }
            &:focus {
                outline: none;
            }
        }
    }
}