h3{
    margin-left: 50px;
    width: 800px;
    color: whitesmoke;
    opacity: 0.75;
}

.homeBody{
    /* margin-top: 30px; */
    background: url("../assets/pexels-fauxels-3183183.jpg");
    background-size: cover;
    height: 600px;
}

.homeBody > h1{
    margin-left: 50px;
    font-size: 30pt;
    padding-top: 15%;
    color: white;
}

.homeServices{
    /* margin-top: 5px; */
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #005792;
}

.homeContainer{
    text-align: center;
    margin-top: 26px;
}

.homeContainer h1{
    font-size: 30px;
    color: black;
}