h3{
    text-align: center;
    color: whitesmoke;
    opacity: 0.75;
    font-size: 16px;
}

.homeBody{
    background: url("../assets/pexels-fauxels-3183183.jpg");
    background-size: cover;
    width: 100%;
    padding: 30px;
}

.homeBody > h1{
    text-align: center;
    font-size: 30px;
    color: white;
    padding-bottom: 30px;
}

.homeServices{
    /* margin-top: 5px; */
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #005792;
}

.homeContainer{
    text-align: center;
    margin-top: 26px;
}

.homeContainer h1{
    color: #F0145A;
    font-size: 26px;
    line-height: 15px;
    text-transform: uppercase;
    padding-top: 15px;;
}

.home_container_secGrid{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1440px;
}

@media (min-width:768px){
    h3{
        width: 800px;
        color: whitesmoke;
        opacity: 0.75;
        text-align: unset;
    }
    
    .homeBody{
        /* margin-top: 30px; */
        background: url("../assets/pexels-fauxels-3183183.jpg");
        background-size: cover;
        height: 900px;
    }
    
    .homeBody > h1{
        font-size: 30pt;
        padding-top: 15%;
        color: white;
        text-align: unset;
    }
    
    .homeServices{
        /* margin-top: 5px; */
        font-size: 30px;
        color: white;
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: #005792;
    }
    
    .homeContainer{
        text-align: center;
        margin-top: 26px;
    }
    
    .homeContainer h1{
        color: #F0145A;
        font-size: 42px;
        line-height: 50px;
        text-transform: uppercase;
        padding-top: 30px;
    }

    .home_container_secGrid{
        padding: 0 20px;
        margin: 0 auto;
        max-width: 1440px;
    }
}

