h3{
    text-align: center;
    color: black;
    opacity: 0.75;
    font-size: 16px;
}

.homeBody{
    background: url("../assets/10837496_19449741.jpg");
    background-size: cover;
    width: 100%;
    padding: 30px;
    min-height: 500px;
}

.homeBody > h1{
    text-align: center;
    font-size: 30px;
    color: black;
    padding-bottom: 30px;
    padding-top: 60px;
}

.homeServices{
    /* margin-top: 5px; */
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    background-color: #005792;
}

.homeContainer{
    text-align: center;
    margin-top: 26px;
}

.homeContainer h1{
    color: rgba(103, 58, 183, 0.6784313725);
    font-size: 26px;
    line-height: 15px;
    text-transform: uppercase;
}

.home_container_secGrid{
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1440px;
}

@media (min-width:768px){
    h3{
        width: 800px;
        color: black;
        opacity: 0.75;
        text-align: unset;
        line-height: 40px;
    }
    
    .homeBody{
        /* margin-top: 30px; */
        background: url("../assets/10837496_19449741.jpg");
        background-size: cover;
        min-height: 700px;
    }
    
    .homeBody > h1{
        font-size: 30pt;
        padding-top: 10%;
        color: black;
        text-align: unset;
    }
    
    .homeServices{
        /* margin-top: 5px; */
        font-size: 30px;
        color: white;
        text-align: center;
        width: 100%;
        height: 40px;
        background-color: #005792;
    }
    
    .homeContainer{
        text-align: center;
        margin-top: 26px;
    }
    
    .homeContainer h1{
        color: rgba(103, 58, 183, 0.6784313725);
        font-size: 42px;
        line-height: 50px;
        text-transform: uppercase;
        padding-top: 30px;
    }

    .home_container_secGrid{
        padding: 0 20px;
        margin: 0 auto;
        max-width: 1440px;
    }
}

