.servicesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicesBoxContainer{
    display: flex;
    flex-wrap: wrap;
}

.serviceContainer{
    width: 350px;
    height: 400px;
    background-color: white;
    margin: 7px;
    box-shadow: 6px 4px 20px 4px rgba(224,224,224,1);  
}

.servicesBoxContainer h1{
    font-size: 18pt;
    color: #093D6C;
    margin-left: 20px;
}

.servicesBoxContainer h2{
    font-size: 12pt;
    font-weight: 800;
    color: #777777;
    margin-left: 20px;
}

.headline{
    font-size: 30pt;
    font-weight: 900;
    margin: 40px;
}