.flex_container_answers{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 3px solid #673ab7ad;
    margin-bottom: 20px;
    h2{
        font-size: 18px;
        text-transform: uppercase;
    }
}

.flex_container_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 15px;
    border-top: 3px solid #afaab8d3;
    padding: 10px;
    min-width: 164px;
    li{
        font-size: 14px;
    }
}

@media(min-width:768px){
    .flex_container_answers{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 10px;
        padding: 30px;
        margin: 15px;
        h2{
            font-size: 20px;
            text-transform: uppercase;
        }
    }
    
    .flex_container_ul{
        gap: 10px;
        border-top: 3px solid #afaab8d3;
        min-width: 350px;
        li{
            font-size: 18px;
        }
    }
}