@media(min-width:768px){
  .slick-slider {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    border-radius: 10px;
    margin: 0 100px;
  }
  .slick-list {
    position: relative;
    display: block !important;
    overflow: hidden;
    margin-top: 50px;
    width: 100%;
  }
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
  }
  .slick-slide div {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .slick-slide .image {
    object-fit: cover;
    border-radius: 2px;
    min-width: 150px !important;
    width: 80%;
  }
  .slick-slide div div span {
    margin-top: 10px;
    width: inherit;
    text-align: center;
    font-size: 0.75rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #111;
  }
  
  .slick-slide:not(.slick-active) {
    position: relative;
    z-index: 997;
  }
  .slick-slide.slick-active:not(.slick-current) {
    position: relative;
    z-index: 998;
    transform: scale(1.3);
    transition: 0.25s;
  }
  .slick-slide.slick-active.slick-current {
    position: relative;
    z-index: 999;
    transform: scale(1.6);
    transition: 0.25s;
  }
  .slick-slide.slick-active:not(.slick-current) .image,
  .slick-slide.slick-active.slick-current .image,
  .slick-slide:not(.slick-active) .image {
    width: 100% !important;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
    right: 2%;
  }

  .slick-prev{
    left: 5px;
  }

  .slick-prev::before, .slick-next::before{
    color: black;
  }

  .slick-dots li button::before{
    font-size: 18px;
  }

  .slick-dots li.slick-active button:before {
    opacity: .75;
    color: rgba(103, 58, 183, 0.6784313725);
  }
}

