.expertListContainer{
    display: flex;
    gap: 20px;
    margin-left: 50px;
    flex-wrap: wrap;
   
}

.expertListItem{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid rgb(62, 62, 62);
    border-radius: 10px;
}