.navbar{
    height: 60px;
    background-color: #00204a;
    display: flex;
    justify-content: center;
}

.navBarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    color: white;
    font-size: 34pt;
}

.logo{
    display: flex;
    gap: 10px;
}

.navButton{
    margin-left: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
}